<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="registration-data-tab" data-toggle="tab" href="#registration-data" role="tab" aria-controls="registration-data" aria-selected="false">
                    <span class="d-none d-sm-block">Dados Cadastrais</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="device-tab" data-toggle="tab" href="#device" role="tab" aria-controls="device" aria-selected="false">
                    <span class="d-none d-sm-block">Equipamentos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="additional-information" data-toggle="tab" href="#additional-information" role="tab" aria-controls="additional-information" aria-selected="false">
                    <span class="d-none d-sm-block">Informações Adicionais</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="external-support" data-toggle="tab" href="#external-support" role="tab" aria-controls="external-support" aria-selected="false">
                    <span class="d-none d-sm-block">Apoios externos envolvidos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="notice" data-toggle="tab" href="#notice" role="tab" aria-controls="notice" aria-selected="false">
                    <span class="d-none d-sm-block">Aviso</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="places" data-toggle="tab" href="#places" role="tab" aria-controls="places" aria-selected="false">
                    <span class="d-none d-sm-block">Locais</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="date-time" data-toggle="tab" href="#date-time" role="tab" aria-controls="date-time" aria-selected="false">
                    <span class="d-none d-sm-block">Datas / Tempos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="facty" data-toggle="tab" href="#facty" role="tab" aria-controls="facty" aria-selected="false">
                    <span class="d-none d-sm-block">Fator ofensor / Fator sucesso</span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="registration-data" role="tabpanel" aria-labelledby="registration-data-tab">
                <p>Dados Cadastrais</p>
            </div>
            <div class="tab-pane" id="device" role="tabpanel" aria-labelledby="device-tab">
                <p>Equipamentos</p>
            </div>
            <div class="tab-pane" id="additional-information" role="tabpanel" aria-labelledby="additional-information-tab">
                <p>Informações Adicionais</p>
            </div>
            <div class="tab-pane" id="external-support" role="tabpanel" aria-labelledby="external-support-tab">
                <p>Apoios externos envolvidos</p>
            </div>
            <div class="tab-pane" id="notice" role="tabpanel" aria-labelledby="notice-tab">
                <p>Aviso</p>
            </div>
            <div class="tab-pane" id="places" role="tabpanel" aria-labelledby="places-tab">
                <p>Locais</p>
            </div>
            <div class="tab-pane" id="date-time" role="tabpanel" aria-labelledby="date-time-tab">
                <p>Datas / Tempos</p>
            </div>
            <div class="tab-pane" id="facty" role="tabpanel" aria-labelledby="facty-tab">
                <p>Fator ofensor / Fator sucesso</p>
            </div>
        </div>
    </div>
</div>
