@{
    ViewData["Title"] = "Safe On";
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title m-0">Bem vindo ao SafeON Ocorrências</h4>
        </div>
    </div>
</div>